body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}

.container {
    text-align: center;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1, h2 {
    margin-bottom: 20px;
    color: #ffffff;
}

.stopwatch, .tally {
    margin-bottom: 20px;
}

#display, #tallyDisplay {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

#startStop {
    background-color: green;
}

#pause {
    background-color: salmon;
}

#decrement {
    background-color: salmon;
}

#increment {
    background-color: green;
}

#resetStopwatch, #resetTally {
    background-color: black;
    color: white;
}

button:hover {
    opacity: 0.8;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
